@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.swiper-button-next {
  right: -10px;
}

.swiper-button-prev {
  left: -10px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  text-align: center;
}

.centered-container {
  text-align: center;
  /* Optionally center the content within the container */
}

.about-me-text {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  text-align: justify;
}

.sticky-me {
  display: contents;
  position: sticky;
}

.invertedContent {
  padding: initial;
  margin: initial;
  font-family: initial;
  line-height: initial;
  font-size: initial;
  box-sizing: content-box;
  color: initial;
  text-decoration: initial;
  max-width: initial;
  display: initial;
}

.markdown-content {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
}

.markdown-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.markdown-content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.markdown-content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.markdown-content p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-content ul,
.markdown-content ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-content li {
  margin-bottom: 5px;
}

.markdown-content a {
  color: #0070f3;
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}
